@CHARSET "UTF-8";

@font-face {
	font-family: OfficinaSerif;
	font-weight: normal;
	src:
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/eot/officinaserifc-book-webfont.eot?#iefix")
		format('embedded-opentype'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/woff/officinaserifc-book-webfont.woff")
		format('woff');
}

@font-face {
	font-family: OfficinaSerif;
	font-weight: bold;
	src:
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/eot/officinaserifc-bold-webfont.eot?#iefix")
		format('embedded-opentype'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/woff/officinaserifc-bold-webfont.woff")
		format('woff');
}

@font-face {
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	src:
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/eot/arial.eot?#iefix")
		format('embedded-opentype'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/ttf/arial.ttf")
		format('truetype');
}

@font-face {
	font-family: Arial;
	font-weight: normal;
	font-style: italic;
	src:
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/eot/arialli.eot?#iefix")
		format('embedded-opentype'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/ttf/arialli.ttf")
		format('truetype');
}

@font-face {
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	src:
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/eot/arialbd.eot?#iefix")
		format('embedded-opentype'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/ttf/arialbd.ttf")
		format('truetype');
}

@font-face {
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	src:
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/eot/arialbi.eot?#iefix")
		format('embedded-opentype'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/ttf/arialbi.ttf")
		format('truetype');
}

@font-face {
	font-family: ALSRubl;
	src: url('/cloud/resources/fonts/eot/rouble.eot?') format('eot'),
		url("#{facesContext.externalContext.requestContextPath}/resources/fonts/otf/rouble.otf")
		format('opentype');
	font-weight: normal;
	font-style: normal;
}

.dashed,.ui-outputLabel.dashed {
	border-bottom: 1px dashed;
}

.ui-outputlabel.ruble {
	font-family: ALSRubl;
	font-size: 20px;
}

.ui-outputlabel.ruble-ie8 {
	font-family: Arial;
	font-size: 13px !important;
	color: black;
	padding-left: 2px;
}

.ui-outputlabel.h2.nolineheight,.ui-outputlabel.h5.nolineheight,.ui-outputlabel.comment-regular.nolineheight
	{
	line-height: 0px !important;
}

.ui-outputlabel.comment-regular.nolineheight{
	padding-right: 3px;
}

.ui-outputlabel.h1,.h1 {
	font-family: OfficinaSerif;
	font-size: 41px;
	line-height: 48px !important;
	margin-top: 44px !important;
	margin-bottom: 22px !important;
	color: black;
}

.ui-outputlabel.h2,.h2 {
	font-family: OfficinaSerif;
	font-size: 21px !important;
	line-height: 25px !important;
	margin-top: 34px;
	margin-bottom: 14px;
	color: black;
}

.ui-outputlabel.h3,.h3 {
	font-family: OfficinaSerif;
	font-size: 17px !important;
	line-height: 21px !important;
	margin-top: 44px;
	margin-bottom: 14px !important;
	color: black;
}

.ui-outputlabel.h4,.h4 {
	font-family: OfficinaSerif;
	font-size: 15px !important;
	line-height: 21px !important;
	margin-top: 44px !important;
	margin-bottom: 14px !important;
	color: black;
}

.ui-outputlabel.h5 {
	font-family: Arial;
	font-size: 15px !important;
	line-height: 19px !important;
	margin-top: 44px !important;
	margin-bottom: 14px !important;
	size: 15px !important;
	color: black;
}

.ui-outputlabel.read,.ui-tabmenu.read span.ui-menuitem-text,.ui-commandlink.read,.read
	{
	font-family: Arial;
	font-size: 13px !important;
	line-height: 19px !important;
	size: 13px !important;
	color: black;
}

.ui-outputlabel.comment-italic {
	font-family: Arial;
	font-size: 12px !important;
	line-height: 18px !important;
	font-style: italic !important;
	color: black;
}

.ui-outputlabel.comment-regular,.ui-commandlink.comment-regular,.comment-regular,.comment-regular td
	{
	font-weight: normal;
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	color: black;
	font-family: Arial;
}

.ui-outputlabel.small-italic {
	font-family: Arial;
	font-size: 11px;
	line-height: 15px;
	font-style: italic;
	color: #787878;
}

.ui-outputlabel.small-regular,.ui-commandlink.small-regular,.small-regular
	{
	font-family: Arial;
	font-size: 11px;
	line-height: 15px;
	color: black;
}

.ui-outputlabel.bold,.bold {
	font-weight: bold !important;
}

.ui-outputlabel.block {
	display: block;
}

.ui-outputlabel.black,.black,li.ui-state-default.black a,li.ui-state-default.ui-state-disabled.black a
	{
	color: #282828;
}

.ui-outputlabel.red {
	color: #b31736;
}

.ui-outputlabel.white,.ui-commandlink.white,.white {
	color: #FFFFFF;
}

.ui-outputlabel.gray,.gray,.gray td {
	color: #787878 !important;
}

.ui-outputlabel.white,.white {
	color: #FFFFFF;
}

.white-reg {
	color: #FFFFFF !important;
}

.ui-outputlabel.h5-officina {
	font-family: OfficinaSerif;
	font-size: 15px !important;
	line-height: 19px !important;
	color: black !important;
	size: 15px !important;
}

.ui-outputlabel.bold,.bold {
	font-weight: bold;
}